.TabContainer {
  padding: 15px 20px 5px;

  .Text__bold {
    font-weight: bold;
  }

  .TabContainer__Tab--Content {
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 10px;

    br {
      line-height: 1.3;
    }

    h4 {
      font-size: 16px;
      margin-bottom: 10px;
    }

    .Info-Font {
      font-family: inherit;
      background: rgba(226, 225, 215, 0.6);
      padding: 15px 10px;
      margin-bottom: 0;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .fa {
        margin-left: 10px;
        cursor: pointer;
      }
    }

    .Link {
      margin-top: 20px;
      display: inline-block;
      margin-left: 10px;
      color: #000;

      &:hover {
        text-decoration: none;
      }
    }

  }
  
  .react-tabs__tab-list {
    display: flex;
    .react-tabs__tab {
      margin-right: 10px;
      text-transform: uppercase;
      cursor: pointer;
      padding: 6px 10px;

      &:hover, &.react-tabs__tab--selected {
        border-bottom: 2px solid #ffdf01;
      }
    }
  }
}