.TextBox {
  border-color: #F9F8F3;
  padding: 60px 15px;

  background-color: rgba(226,225,215,0.2); // hover color
  
  .Texbx__FontDetails {
    display: flex;
    .FontsDetails__Item {
      color: rgba(110,110,60,0.5);

      &:after {
        content: "|";
        display: inline-block;
        padding: 0 5px;
      }

      &:hover {
        background: #FFDE00;
        color: #262626;

        &:after {
          background: #fff;
        }
      }
    }
  }

  textarea {
    appearance: none;
    background: none;
    border: none;
    resize: none;
    color: rgba(110,110,60,0.2);
    font-size: 80px;
    line-height: 1;

    &:hover {
      background-color: rgba(226,225,215,0.2);
    }

    &:focus {
      outline: none;
    }
  }
}