.FontOptionContainer {
  border: 1px #dbdbdb solid;
  position: fixed;
  width: 100%;
  max-width: 1000px;
  padding: 20px 20px 8px 20px;

  .FontOptionContainer__Item {
    padding-bottom: 12px;
  }

  .FontOptionContainer__Title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 6px;
  }
  

  ul {
    display: flex;
    li {
      border: 3px #ffdf01 solid;
      border-radius: 3px;
      padding: 4px 5px;
      display: flex;
      flex: 1;
      justify-content: center;
      margin-right: 10px;
      cursor: pointer;
      text-transform: capitalize;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background: #000000;
        color: #ffffff
      }

      &.active {
        background: #ffdf01;
        color: #000;
      }
    }
  }

  .FontOptionContainer__Properties {
    display: flex;

    .Select {
      width: 350px;
      margin-right: 10px;
    }

    .FontSize__Option {
      input[type="number"] {
        width: 40px;
        height: 36px;
        text-align: center;
        -webkit-appearance: none;
        border: none;
        background: none;
        border: 1px #ccc solid;
        border-radius: 4px;
        margin-right: 10px;
        font-size: inherit;

        &:focus {
          outline: none;
        }
      }
    }

    .ColorOption__BackGround {
      background: red;
      border: 1px #ccc solid;
      border-radius: 4px;
      height: 34px;
      width: 45px;
      margin-right: 10px;
    }

    .ColorOption__ForeGround {
      border: 1px #ccc solid;
      border-radius: 4px; 
      color: green;
      height: 34px;
      width: 45px;
      margin-right: 10px;
      font-size: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

}