.FontOptionContainer {
  border: 1px #dbdbdb solid;
  position: fixed;
  width: 100%;
  max-width: 1000px;
  padding: 20px;

  .FontOptionContainer__Item {
    padding-bottom: 12px;
  }

  .FontOptionContainer__Title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 6px;
  }
  

  ul {
    display: flex;
    li {
      border: 3px #ffdf01 solid;
      border-radius: 3px;
      padding: 4px 5px;
      display: flex;
      flex: 1;
      justify-content: center;
      margin-right: 10px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background: #000000;
        color: #ffffff
      }

      &.active {
        background: #ffdf01;
      }
    }
  }

}