.FontOptionContainer {
  border: 1px #dbdbdb solid;
  position: fixed;
  right: 0;
  width: 250px;
  padding: 20px 20px 8px 20px;

  .FontOptionContainer__Item {
    padding-bottom: 12px;
  }

  .FontOptionContainer__Title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 6px;
  }
  

  ul {
    display: flex;
    flex-direction: column;

    li {
      border: 3px #ffdf01 solid;
      border-radius: 3px;
      padding: 4px 5px;
      display: flex;
      flex: 1;
      justify-content: center;
      margin-bottom: 10px;
      cursor: pointer;
      text-transform: capitalize;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background: #000000;
        color: #ffffff
      }

      &.active {
        background: #ffdf01;
        color: #000;
      }
    }
  }

  .FontOptionContainer__Properties {
    display: flex;
    flex-direction: column;

    .Select {
      width: 100%;
      margin-bottom: 10px;
    }

    .OtherProperties {
      display: flex;
    }

    .FontSize__Option {
      input[type="number"] {
        width: 45px;
        height: 36px;
        text-align: center;
        -webkit-appearance: none;
        border: none;
        background: none;
        border: 1px #ccc solid;
        border-radius: 4px;
        margin-right: 10px;
        font-size: inherit;

        &:focus {
          outline: none;
        }
      }
    }

    .ColorOption--Popover {
      position: absolute;
      z-index: 2;
      right: 20px;
    }

    .ColorOption--Swatch {
      padding: 5px;
      background: #fff;
      border-radius: 1px;
      border-radius: 4px;
      height: 36px;
      width: 45px;
      box-shadow: 0 0 0 1px rgba(0,0,0,.1);
      display: inline-block;
      cursor: pointer;
    }

    .ColorOption--Cover {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .ColorOption--Color {
      width: 100%;
      height: 100%;
      border-radius: 2px;
    }

    .ColorOption__BackGround {
      margin-right: 10px;
    }

    .ColorOption__ForeGround {
      margin-right: 10px;
      font-size: 32px;
      text-align: center;
    }
  }

}