.FontOptionContainer {
  border: 1px #dbdbdb solid;
  background-color: #fff;
  position: fixed;
  right: 0;
  width: 250px;
  padding: 20px 20px 8px 20px; }
  .FontOptionContainer .FontOptionContainer__Item {
    padding-bottom: 12px; }
  .FontOptionContainer .FontOptionContainer__Title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 6px; }
  .FontOptionContainer ul {
    display: flex;
    flex-direction: column; }
    .FontOptionContainer ul li {
      border: 3px #ffdf01 solid;
      border-radius: 3px;
      padding: 4px 5px;
      display: flex;
      flex: 1;
      justify-content: center;
      margin-bottom: 10px;
      cursor: pointer;
      text-transform: capitalize; }
      .FontOptionContainer ul li:last-child {
        margin-right: 0; }
      .FontOptionContainer ul li:hover {
        background: #000000;
        color: #ffffff; }
      .FontOptionContainer ul li.active {
        background: #ffdf01;
        color: #000; }
  .FontOptionContainer .FontOptionContainer__Properties {
    display: flex;
    flex-direction: column; }
    .FontOptionContainer .FontOptionContainer__Properties .Select {
      width: 100%;
      margin-bottom: 10px; }
    .FontOptionContainer .FontOptionContainer__Properties .OtherProperties {
      display: flex; }
    .FontOptionContainer .FontOptionContainer__Properties .FontSize__Option input[type="number"] {
      width: 45px;
      height: 36px;
      text-align: center;
      -webkit-appearance: none;
      border: none;
      background: none;
      border: 1px #ccc solid;
      border-radius: 4px;
      margin-right: 10px;
      font-size: inherit; }
      .FontOptionContainer .FontOptionContainer__Properties .FontSize__Option input[type="number"]:focus {
        outline: none; }
    .FontOptionContainer .FontOptionContainer__Properties .ColorOption__BackGround {
      margin-right: 10px; }
      .FontOptionContainer .FontOptionContainer__Properties .ColorOption__BackGround .ColorPicker .ColorPicker__Color {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); }
    .FontOptionContainer .FontOptionContainer__Properties .ColorOption__ForeGround {
      margin-right: 10px;
      font-size: 32px;
      text-align: center; }
