.App {
  .App__Btn {
    appearance: none;
    background: #ffdf01;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    padding: 6px 10px;
    width: 200px;
    position: fixed;
    bottom: 20px;
    right: 20px;

    &:hover {
      background: #000;
      color: #fff;
    }
  }
}

.Wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.TexBoxContainer {
  margin-top: 20px;
}

.App-intro {
  display: none
}

.HideControl {
  .Header .App__header {
    left: -160px
  }

  .TextBox .TextBox__CTA {
    display: none;
  }

  .TextBox.isActive {
    background-color: transparent;
  }

  .FontOptionContainer {
    right: -250px;
  }
}
