@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.App {
}

.Wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.TexBoxContainer {
  margin-top: 20px;
}

.App-intro {
  display: none
}
