.ColorPicker {
  position: relative; }
  .ColorPicker .ColorPicker__Popover {
    position: absolute;
    z-index: 2;
    right: 0px; }
  .ColorPicker .ColorPicker__Swatch {
    padding: 5px;
    background: #fff;
    border-radius: 4px;
    height: 36px;
    width: 45px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    cursor: pointer; }
    .ColorPicker .ColorPicker__Swatch.is-focused {
      border-color: #ffe000;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(255, 224, 0, 0.2); }
  .ColorPicker .ColorPicker__Color {
    width: 100%;
    height: 100%;
    border-radius: 2px; }
